/IT-SysAdminFwDB_SK_SQL_Server.pdf
/IT-SysAdminFwDB_SK_SQL_Server.synctex.gz
/tmp/
/tempPartial00000.tex
/tempPartial00000.pdf
/tempPartial00000.synctex.gz
/IT-SysAdminFwDB_SK_SQL_Serve.synctex.gz
/IT-SysAdminFwDB_SK_SQL_Server.pdf
/IT-SysAdminFwDB_SK_SQL_Server.synctex.gz
